@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --fonts-roboto: 'Roboto', sans-serif;
    --devColor: #F47D2E;
    --primary-color: #555555;
    --secondary-color: #AEAEAE;
    --tertiary-color: #E0E0E0;
    --lightblue: #3D5AFE;
}

.navbar{
    background-color: var(--tertiary-color);
}

.colored{
    color: var(--devColor);
}

html, body{
    font-family: var(--font-poppins);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p{
    color: var(--secondary-color);
    font-size: 14px;
}

button{
    cursor: pointer;
    border: none;
}

input{
    outline: none;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
}
input::placeholder{
    color: var(--secondary-color);
}

textarea{
    outline: none;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    resize: none;
}
textarea::placeholder{
    color: var(--secondary-color);
}

.All{
    padding: 2rem;
    margin-left: 12rem;
}
.Size{
    padding: 2rem;
    margin-left: 12rem;
}
.Icon{
    padding: 2rem;
    margin-left: 12rem;
}